<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  {{f1()}}::{{f2()}}<hr>
  <input type="text" v-model="msg"  @click="getAjax()" @keyup.enter="add"/>{{msg}}<hr>
    <aa>
      <header1 v-bind:p1="user.name" @headerfunc='f3'></header1>
      <bodi :p2="user.pwd"></bodi>
      <foot :p3="item" :i3="index" v-for="(item,index) in items"></foot>
    </aa>
  <hr>
  <hr>
  <hr><hr><hr><hr>
</div>
<script src="https://cdn.bootcss.com/vue/2.5.10/vue.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.js"></script>
<script>
  var app=new Vue({
    el:"#app",
    data:{
      msg:"hello1",
      user:{
        name:'qq',
        pwd:'asd',
      },
      items:[
        {type:'int'},
        {type:'long'},
        {type:'boolean'},
      ]
    },
    methods:{
      f1:function() {
        return Date.now();
      },
      f2() {
        return Date.now()*2;
      },
      f3:function(a1="",a2="") {
        alert(this.f1()+a1+a2);
      },
      add(){
        this.items.push({type:this.msg})
      },
      getAjax(){
        axios.get("../1.json")
          .then(function(rep){
            console.log(rep);
          })
          .catch(function(err){
            console.log(err);
          })
      }

    },
    computed:{
      c1() {
        return Date.now();
      }
    },
    components:{
      aa:{
        template:"<ul>aaaa<slot></slot></ul>"
      },
//      props可以将数据从父组件传入子组件，slot可以将html从父组件传入子组件。
//      v-text='p1+\"!\"'的\"表示转义
      header1:{
        props: ['p1'],
        template:"<h4 v-text='p1+\"!\"'  @click='ff'></h4>",
        methods:{
          ff:function (){
            this.$emit('headerfunc',":",new Date())
          }
        }
      },
      bodi:{
        props: ['p2'],
        template:"<h4 v-text='p2+\"66\"'>77</h4>"
      },
      foot:{
        props: ['p3','i3'],
        template:"<h4 v-text='i3+\":\"+p3.type'   @click='del(i3)' >footer!</h4>",
        methods: {
          del(i){
            // this是VueComponent  app是Vue
            console.log(this);console.log(app);
            app.items.splice(i,1);
          }
        }
      },
    }
  })
</script>
</body>
</html>
